---
kind: ServiceAccount
apiVersion: v1
metadata:
  namespace: default
  name: "branchprotector"
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::292999226676:role/falco-prow-test-infra-prow_s3_access
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: default
  name: "branchprotector"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: "branchprotector"
subjects:
- kind: ServiceAccount
  name: "branchprotector"
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  namespace: test-pods
  name: "branchprotector"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: "branchprotector"
subjects:
- kind: ServiceAccount
  name: "branchprotector"
  namespace: default
---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  namespace: default
  name: branchprotector
spec:
  schedule: "30 * * * *" # Every hour at 30 minutes past the hour
  concurrencyPolicy: Forbid
  jobTemplate:
    metadata:
      labels:
        app: branchprotector
    spec:
      template:
        spec:
          containers:
          - name: branchprotector
            image: gcr.io/k8s-prow/branchprotector:v20210108-eac8059329
            imagePullPolicy: Always
            args:
            - --config-path=/etc/config/config.yaml
            - --job-config-path=/etc/job-config
            - --github-token-path=/etc/github/oauth
            - --confirm
            - --github-endpoint=http://ghproxy
            - --github-endpoint=https://api.github.com
            volumeMounts:
            - name: oauth
              mountPath: /etc/github
              readOnly: true
            - name: config
              mountPath: /etc/config
              readOnly: true
            - name: job-config
              mountPath: /etc/job-config
              readOnly: true
          restartPolicy: Never
          volumes:
          - name: oauth
            secret:
              secretName: oauth-token
          - name: config
            configMap:
              name: config
          - name: job-config
            configMap:
              name: job-config
          nodeSelector:
            Archtype: "x86"
