---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "update-jobs"
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - update
      - create
      - delete
      - patch
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "update-jobs"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: "update-jobs"
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: Group
  name: system:nodes
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: update-jobs-sa
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: update-jobs
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: ServiceAccount
  name: update-jobs
  namespace: prow
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ServiceAccount
metadata:
  name: update-jobs
  namespace: prow
