version: 2
jobs:
  "test-infra/scan/terraform":
    docker:
      - image: alpine/git:v2.26.2
    steps:
      - checkout
      - run:
          name: Scan terraform code # terrascan -d does not currently support remote TF modules. See: https://github.com/accurics/terrascan/issues/332
          command: |
            apk add curl tar
            curl --location https://github.com/accurics/terrascan/releases/download/v1.1.0/terrascan_1.1.0_Linux_x86_64.tar.gz --output terrascan.tar.gz
            tar -xvf terrascan.tar.gz
            install terrascan /usr/local/bin
            for file in $(ls ./config/clusters/*.tf); do \
              terrascan scan -t aws -f $file; \
            done
  "test-infra/deploy/terraform":
    requires:
      - test-infra/scan/terraform
    docker:
      - image: amazon/aws-cli:latest
    steps:
      - checkout
      - run:
          name: Deploy terraform
          command: |
            yum update -y
            yum install jq unzip git -y
            ./tools/deploy_terraform.sh
  "test-infra/deploy/prow":
    requires:
      - test-infra/deploy/terraform
    docker:
      - image: amazon/aws-cli:latest
    steps:
      - checkout
      - run:
          name: Deploy prow
          command: |
            yum update -y
            yum install jq unzip git wget curl which -y
            wget "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl" -O /usr/local/bin/kubectl
            chmod +x /usr/local/bin/kubectl
            ./tools/deploy_prow.sh
  "test-infra/deploy/monitoring":
    requires:
      - test-infra/deploy/prow
    docker:
      - image: amazon/aws-cli:latest
    steps:
      - checkout
      - run:
          name: Deploy prow
          command: |
            yum update -y
            yum install jq unzip git wget curl gettext which -y
            wget "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl" -O /usr/local/bin/kubectl
            chmod +x /usr/local/bin/kubectl
            ./tools/deploy_monitoring.sh
workflows:
  version: 2
  build:
    jobs:
      - "test-infra/scan/terraform":
          context: test-infra
      - "test-infra/deploy/terraform":
          requires:
            - test-infra/scan/terraform
          context: test-infra
          filters:
            branches:
              only: master
      - "test-infra/deploy/prow":
          requires:
            - test-infra/deploy/terraform
          context: test-infra
          filters:
            branches:
              only: master
      - "test-infra/deploy/monitoring":
          context: test-infra
          # requires:
          #   - test-infra/deploy/prow
          filters:
            branches:
              only: feat-monitoring
