version: 2
jobs:
  "drivers/build/amazonlinux":
    docker:
      - image: docker.io/falcosecurity/driverkit:latest
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Prepare env
          command: |
            apk add --no-cache --update
            apk add make bash git
      - run:
          name: Build drivers
          command: |
            touch driverkit/output/failing.log
            DRIVERKIT_COMMIT=$(git log -1 --format=format:%H --full-diff -- driverkit/)
            if [ $CIRCLE_SHA1 = $DRIVERKIT_COMMIT ];
            then
              cd driverkit
              make -e TARGET_DISTRO=amazonlinux specific_target
            fi
      - run:
          name: Prepare artifacts
          command: |
            mkdir -p /tmp/dbg-logs
            rm -f driverkit/output/.gitignore
            mv driverkit/output/failing.log /tmp/dbg-logs/failing-amazonlinux.log
      - store_artifacts:
          path: /tmp/dbg-logs
          destination: /dbg-logs
      - persist_to_workspace:
          root: driverkit
          paths:
            - output
  "drivers/build/amazonlinux2":
    docker:
      - image: docker.io/falcosecurity/driverkit:latest
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Prepare env
          command: |
            apk add --no-cache --update
            apk add make bash git
      - run:
          name: Build drivers
          command: |
            touch driverkit/output/failing.log
            DRIVERKIT_COMMIT=$(git log -1 --format=format:%H --full-diff -- driverkit/)
            if [ $CIRCLE_SHA1 = $DRIVERKIT_COMMIT ];
            then
              cd driverkit
              make -e TARGET_DISTRO=amazonlinux2 specific_target
            fi
      - run:
          name: Prepare artifacts
          command: |
            mkdir -p /tmp/dbg-logs
            rm -f driverkit/output/.gitignore
            mv driverkit/output/failing.log /tmp/dbg-logs/failing-amazonlinux2.log
      - store_artifacts:
          path: /tmp/dbg-logs
          destination: /dbg-logs
      - persist_to_workspace:
          root: driverkit
          paths:
            - output
  "drivers/build/centos":
    docker:
      - image: docker.io/falcosecurity/driverkit:latest
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Prepare env
          command: |
            apk add --no-cache --update
            apk add make bash git
      - run:
          name: Build drivers
          command: |
            touch driverkit/output/failing.log
            DRIVERKIT_COMMIT=$(git log -1 --format=format:%H --full-diff -- driverkit/)
            if [ $CIRCLE_SHA1 = $DRIVERKIT_COMMIT ];
            then
              cd driverkit
              make -e TARGET_DISTRO=centos specific_target
            fi
      - run:
          name: Prepare artifacts
          command: |
            mkdir -p /tmp/dbg-logs
            rm -f driverkit/output/.gitignore
            mv driverkit/output/failing.log /tmp/dbg-logs/failing-centos.log
      - store_artifacts:
          path: /tmp/dbg-logs
          destination: /dbg-logs
      - persist_to_workspace:
          root: driverkit
          paths:
            - output
  "drivers/build/debian":
    docker:
      - image: docker.io/falcosecurity/driverkit:latest
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Prepare env
          command: |
            apk add --no-cache --update
            apk add make bash git
      - run:
          name: Build drivers
          command: |
            touch driverkit/output/failing.log
            DRIVERKIT_COMMIT=$(git log -1 --format=format:%H --full-diff -- driverkit/)
            if [ $CIRCLE_SHA1 = $DRIVERKIT_COMMIT ];
            then
              cd driverkit
              make -e TARGET_DISTRO=debian specific_target
            fi
      - run:
          name: Prepare artifacts
          command: |
            mkdir -p /tmp/dbg-logs
            rm -f driverkit/output/.gitignore
            mv driverkit/output/failing.log /tmp/dbg-logs/failing-debian.log
      - store_artifacts:
          path: /tmp/dbg-logs
          destination: /dbg-logs
      - persist_to_workspace:
          root: driverkit
          paths:
            - output
  "drivers/build/ubuntu-aws":
    docker:
      - image: docker.io/falcosecurity/driverkit:latest
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Prepare env
          command: |
            apk add --no-cache --update
            apk add make bash git
      - run:
          name: Build drivers
          command: |
            touch driverkit/output/failing.log
            DRIVERKIT_COMMIT=$(git log -1 --format=format:%H --full-diff -- driverkit/)
            if [ $CIRCLE_SHA1 = $DRIVERKIT_COMMIT ];
            then
              cd driverkit
              make -e TARGET_DISTRO=ubuntu-aws specific_target
            fi
      - run:
          name: Prepare artifacts
          command: |
            mkdir -p /tmp/dbg-logs
            rm -f driverkit/output/.gitignore
            mv driverkit/output/failing.log /tmp/dbg-logs/failing-ubuntu-aws.log
      - store_artifacts:
          path: /tmp/dbg-logs
          destination: /dbg-logs
      - persist_to_workspace:
          root: driverkit
          paths:
            - output
  "drivers/build/ubuntu-generic":
    docker:
      - image: docker.io/falcosecurity/driverkit:latest
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Prepare env
          command: |
            apk add --no-cache --update
            apk add make bash git
      - run:
          name: Build drivers
          command: |
            touch driverkit/output/failing.log
            DRIVERKIT_COMMIT=$(git log -1 --format=format:%H --full-diff -- driverkit/)
            if [ $CIRCLE_SHA1 = $DRIVERKIT_COMMIT ];
            then
              cd driverkit
              make -e TARGET_DISTRO=ubuntu-generic specific_target
            fi
      - run:
          name: Prepare artifacts
          command: |
            mkdir -p /tmp/dbg-logs
            rm -f driverkit/output/.gitignore
            mv driverkit/output/failing.log /tmp/dbg-logs/failing-ubuntu-generic.log
      - store_artifacts:
          path: /tmp/dbg-logs
          destination: /dbg-logs
      - persist_to_workspace:
          root: driverkit
          paths:
            - output
  "drivers/publish":
    docker:
      - image: amazon/aws-cli:latest
    steps:
      - checkout
      - run:
          name: Prepare environment
          command: |
            yum update -y
            yum install tar make git which -y
      - attach_workspace:
          at: driverkit
      - run:
          name: Publish drivers on s3
          command: |
            DRIVERKIT_COMMIT=$(git log -1 --format=format:%H --full-diff -- driverkit/)
            if [ $CIRCLE_SHA1 = $DRIVERKIT_COMMIT ];
            then
              cd driverkit
              make publish_s3
            fi
  "drivers/cleanup":
    docker:
      - image: amazon/aws-cli:latest
    steps:
      - checkout
      - run:
          name: Prepare env
          command: |
            yum update -y
            yum install make which -y
      - run:
          name: Cleanup
          command: |
              cd driverkit
              make cleanup_s3
  "test-infra/scan/terraform":
    docker:
      - image: alpine:3.12.1
    steps:
      - checkout
      - run:
          name: Scan terraform code # terrascan -d does not currently support remote TF modules. See: https://github.com/accurics/terrascan/issues/332
          command: |
            apk add curl tar
            curl --location https://github.com/accurics/terrascan/releases/download/v1.1.0/terrascan_1.1.0_Linux_x86_64.tar.gz --output terrascan.tar.gz
            tar -xvf terrascan.tar.gz
            install terrascan /usr/local/bin
            for file in $(ls ./config/clusters/*.tf); do \
              terrascan scan -t aws -f $file; \
            done
  "test-infra/deploy/terraform":
    requires:
      - test-infra/scan/terraform
    docker:
      - image: amazon/aws-cli:latest
    steps:
      - checkout
      - run:
          name: Deploy terraform
          command: |
            yum update -y
            yum install jq unzip git -y
            ./tools/deploy_terraform.sh
  "test-infra/deploy/prow":
    requires:
      - test-infra/deploy/terraform
    docker:
      - image: amazon/aws-cli:latest
    steps:
      - checkout
      - run:
          name: Deploy prow
          command: |
            yum update -y
            yum install jq unzip git wget curl which -y
            wget "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl" -O /usr/local/bin/kubectl
            chmod +x /usr/local/bin/kubectl
            ./tools/deploy_prow.sh
workflows:
  version: 2
  build:
    jobs:
      - "drivers/build/amazonlinux"
      - "drivers/build/amazonlinux2"
      - "drivers/build/centos"
      - "drivers/build/debian"
      - "drivers/build/ubuntu-aws"
      # - "drivers/build/ubuntu-generic"
      - "drivers/publish":
          context: test-infra
          filters:
            branches:
              only:
                - master
          requires:
            - "drivers/build/amazonlinux"
            - "drivers/build/amazonlinux2"
            - "drivers/build/centos"
            - "drivers/build/debian"
            - "drivers/build/ubuntu-aws"
            # - "drivers/build/ubuntu-generic"
      - "drivers/cleanup":
          context: falco
          filters:
            branches:
              only:
                - master
          requires:
            - "drivers/publish"
      - "test-infra/scan/terraform":
          context: test-infra
          filters:
            branches:
              ignore:
                - master
                - /pull\/[0-9]+/ #ignore forked PR's
      - "test-infra/deploy/terraform":
          requires:
            - test-infra/scan/terraform
          context: test-infra
          filters:
            branches:
              ignore:
                - master
                - /pull\/[0-9]+/ #ignore forked PR's
      - "test-infra/deploy/prow":
          requires:
            - test-infra/deploy/terraform
          context: test-infra
          filters:
            branches:
              ignore:
                - master
