periodics:
  - name: periodic-rotten
    interval: 6h
    decorate: true
    annotations:
      description: ...
    agent: kubernetes
    spec:
      containers:
        - image: gcr.io/k8s-prow/commenter:v20201116-dbd60ab192
          command:
            - /app/robots/commenter/app.binary
          args:
            - |-
              --query=org:falcosecurity
              -label:lifecycle/frozen
              label:lifecycle/stale
              -label:lifecycle/rotten
            - --updated=720h
            - --token=/etc/github/oauth
            - |-
              --comment=Stale issues rot after 30d of inactivity.

              Mark the issue as fresh with `/remove-lifecycle rotten`.

              Rotten issues close after an additional 30d of inactivity.

              If this issue is safe to close now please do so with `/close`.

              Provide feedback via https://github.com/falcosecurity/community.

              /lifecycle rotten
            - --template
            - --confirm
          volumeMounts:
          - name: oauth
            mountPath: /etc/github
            readOnly: true
      volumes:
      - name: oauth
        secret:
          secretName: oauth-token
      nodeSelector:
        Archtype: "x86"
