apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: falco
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    chart: falco
    repoURL: https://falcosecurity.github.io/charts
    targetRevision: 7.2.1
    helm:
      releaseName: falco
      values: |
        image:
          tag: "0.43.0-rc2"
        tolerations:
          - key: "Availability"
            operator: "Equal"
            value: "SingleAZ"
            effect: "NoSchedule"
          - key: "Archtype"
            operator: "Equal"
            value: "arm"
            effect: "NoSchedule"
        metrics:
          enabled: true
          interval: 10s
          includeEmptyValues: true
        serviceMonitor:
          create: true
          labels:
            release: "kube-prometheus-stack"
        grafana:
          dashboards:
            enabled: true
            configMaps:
              falco:
                folder: "falcosecurity"
        driver:
          loader:
            initContainer:
              tag: "0.43.0-rc2"  
        collectors:
          containerEngine:
            pluginRef: "ghcr.io/falcosecurity/plugins/plugin/container:0.6.1"
          kubernetes:
            enabled: true
        k8s-metacollector:
          serviceMonitor:
            create: true
            labels:
              release: "kube-prometheus-stack"
          grafana:
            dashboards:
              enabled: true
              configMaps:
                collector:
                  folder: "falcosecurity"
        tty: true
        falco:
          libs_logger:
            enabled: true
            severity: info
          rules_files:
            - /etc/falco/falco_rules.yaml
            - /etc/falco/k8s_audit_rules.yaml
            - /etc/falco/rules.d
  destination:
    server: "https://kubernetes.default.svc"
    namespace: falco
  syncPolicy:
    automated:
      prune: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
